<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leer Libros</title>
</head>
<body>
    {% for l in libros %}
        <li>{{l}}</li>
    
    <button>
        <a href="{% url 'eliminarlibros' l.titulo %}" > Eliminar</a>
    </button>
    <button>
        <a href="{% url 'editarlibros' l.titulo %}" > Editar</a>
    </button>

    {% endfor %}

    <h4></h4> 
    <button>
    <a href="{% url 'libros' %}" > Agregar un nuevo libro</a>
    </button>
</body>
</html>