<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leer Libros</title>
</head>
<body>
    {% for l in libros %}
        <li>{{l}}</li>
        <h1>{{ l.titulo }}</h1>
    
        {% if l.subtitulo %}
            <p>Subtítulo: {{ l.subtitulo }}</p>
        {% endif %}

        <p>Autor: {{ l.autor }}</p>

        {% if l.fecha %}
            <p>Fecha: {{ l.fecha }}</p>
        {% endif %}
        
        
        
        <p>Sinopsis: {{ l.sinopsis }}</p>
    
        {% if l.imagen %}
            <img src="{{ l.imagen.url }}" alt="{{ l.titulo }}">
        {% endif %}

        {% if l.autor_entrada %}
            <p>Autor de la entrada: {{ l.autor_entrada }}</p>
        {% endif %}
    <button>
        <a href="{% url 'eliminarlibros' l.titulo %}" > Eliminar</a>
    </button>
    <button>
        <a href="{% url 'editarlibros' l.titulo %}" > Editar</a>
    </button>

    {% endfor %}

    <h4></h4> 
    <button>
    <a href="{% url 'libros' %}" > Agregar un nuevo libro</a>
    </button>
</body>
</html>